body {
    height: 100%;
    margin: 0;
    background-color: #14b6ae;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #333333;
    padding: 20px;
    font-family: 'verdana', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
  }

  .login{
    margin: 30px;
    text-align: center;
}
  
.center1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 20px;
    width: 435px;
    background: white;
    border-radius: 10px;
  }
  
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px
  }
  
  .center h1 {
    text-align: center;
    padding: 0 0 20px 0;
  
  }
  
  .center form {
    padding: 0 10px;
  }
  
  .signin_link {
    margin: 30px;
    text-align: center;
  }
  
  .login {
    margin: 30px;
    text-align: center;
  }
  
  input[type=text],
  input[type=password] {
    width: 400px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
  }
  
  button {
    background-color: blue;
    color: white;
    font-family: 'verdana', sans-serif;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    max-width: 200px;
  }
  
  button:hover {
    opacity: 0.8;
  }

  .main-content .container {
    position: center;
    background: white;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    padding-left: 10px;
    padding: 30px;
    width: auto;
    height: auto;
  }
  
  .main-content2 .container2 {
    position: center;
    background: white;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    padding-left: 10px;
    padding: 30px;
    width: 1400px;
    height: auto;
  }
  
  .main-content3 .container3 {
    position: center;
    background: white;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    padding-left: 10px;
    padding: 30px;
    width: 1400px;
    height: auto;
  }
  
  .site-header {
    padding: 50px 0;
    *zoom: 1;
  }
  
  .site-header:after {
    content: " ";
    clear: both;
    display: block;
    overflow: hidden;
    height: 0;
  }
  