.error {
   background: #F2DEDE;
   color: #A94442;
   padding: 10px;
   width: 240px;
   border-radius: 5px;
   text-align: center;
}

.success {
   background: #D4EDDA;
   color: #40754C;
   padding: 10px;
   width: 240px;
   border-radius: 5px;
   text-align: center;
}

.sessionmessage{
   padding-left:175px;
 }